In [1]:
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\HP\Desktop\data\customar.csv')

In [27]:
df.sample

<bound method NDFrame.sample of     age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No>

In [28]:
dfn = df.iloc[:,2:]

In [29]:
dfn.sample(5)

     review education purchased
8   Average        UG        No
43     Poor        PG        No
48     Good        UG       Yes
10     Good        UG       Yes
36     Good        UG       Yes

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(dfn.iloc[:,0:2],dfn.iloc[:,-1],test_size = 0.2)

In [31]:
x_train

     review education
24  Average        PG
5   Average    School
16     Poor        UG
28     Poor    School
26     Poor        PG
6      Good    School
25     Good    School
48     Good        UG
17     Poor        UG
20  Average    School
1      Poor        UG
44  Average        UG
34  Average    School
14     Poor        PG
15     Poor        UG
47     Good        PG
7      Poor    School
2      Good        PG
22     Poor        PG
3      Good        PG
19     Poor        PG
33     Good        PG
23     Good    School
35     Poor    School
21  Average        PG
39     Poor        PG
43     Poor        PG
37  Average        PG
13  Average    School
31     Poor    School
32  Average        UG
41     Good        PG
49     Good        UG
10     Good        UG
46     Poor        PG
12     Poor    School
38     Good    School
0   Average    School
36     Good        UG
18     Good    School

In [32]:
from sklearn.preprocessing import OrdinalEncoder

In [33]:
ordinal_encoding = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [34]:
ordi_encoding.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [35]:
x_train = ordi_encoding.transform(x_train)
x_test = ordi_encoding.transform(x_test)

In [25]:
x_train

array([[1., 0.],
       [2., 1.],
       [2., 2.],
       [0., 2.],
       [2., 0.],
       [0., 0.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [2., 2.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [1., 2.],
       [0., 1.],
       [2., 0.],
       [1., 1.],
       [2., 1.],
       [0., 2.],
       [1., 2.],
       [1., 2.],
       [0., 2.],
       [1., 0.],
       [2., 1.],
       [2., 2.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [1., 1.],
       [1., 0.],
       [0., 2.],
       [1., 0.],
       [1., 1.],
       [2., 2.],
       [2., 0.],
       [0., 0.],
       [0., 1.],
       [2., 1.],
       [1., 0.],
       [2., 2.]])

In [37]:
ordi_encoding.categories

[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']]

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
le = LabelEncoder()

In [40]:
le.fit(y_train)

LabelEncoder()

In [41]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [42]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [43]:
y_train

array([1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0])